cargo/target
cargo/Cargo.lock

*.DS_Store
*.ccls-cache
ios/Greetings/.build
ios/Greetings/.swiftpm
ios/Greetings/Gemfile.lock
ios/Greetings/build
ios/Greetings/Gemfile.lock
ios/Greetings/Podfile.lock
ios/Greetings/Pods
ios/Greetings/DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
.idea

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

